/* General App CSS */
html {
  font-family: "Staatliches", cursive;
  color: rgba(255, 255, 255, 0.808);
  padding: 0px;
  scroll-behavior: smooth;
}

body {
  background-image: url(../img/cat-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  margin: 0%;
}

h1 {
  margin: 0px;
}

.container {
  display: flex;
  height: 100%;
  padding: 0 80px 0 80px;
}

.flex {
  display: flex;
}

/* Navigation Bar CSS */
nav {
  position: fixed;
  top: 0;
  background-color: black;
  height: 60px;
  width: 100%;
  z-index: 1;
}

.nav_logo,
.nav_links,
.nav_links > li {
  display: inline-block;
}

nav > .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav > div > .nav_links {
  list-style: none;
  text-align: center;
}

.nav_links > li > a {
  text-decoration: inherit;
  color: inherit;
  padding-left: 20px;
}

/* General Section CSS */

/* Home Section CSS */
.home_section {
  height: 800px;
  padding-top: 60px;
}

.home_section > .container {
  display: flex;
  padding: 0;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.home_backBlock {
  display: flex;
  background-color: black;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
  opacity: 80%;
}

.home_header,
.home_icons {
  text-align: center;
}

/* Social Media Icons CSS */
.home_icons > a {
  border-radius: 50%;
  height: 1em;
  width: 1em;
  padding: 8px;
  margin-left: 8px;
  font-size: 30px;
  text-decoration: inherit;
  color: inherit;
}

.home_icons > a:hover {
  opacity: 80%;
}

.fa-facebook {
  background: rgb(59, 89, 152);
}

.fa-youtube {
  background: rgb(255, 0, 0);
}

.fa-instagram {
  background: linear-gradient(
    90deg,
    rgba(195, 42, 163, 1) 0%,
    rgba(114, 50, 189, 1) 100%
  );
}

.fa-twitter {
  background-color: rgb(29, 161, 242);
}

.fa-reddit {
  background-color: rgb(255, 69, 0);
}

/* About Section CSS */
.about_section {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 50%,
    rgba(20, 20, 20, 1) 100%
  );
  height: 800px;
  overflow: hidden;
}

.about_section > .container {
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.about_header {
  font-size: 40px;
}

.about_info,
.about_footer {
  font-size: 20px;
}

/* Famous Cats Section CSS */
.famousCats_section {
  background: linear-gradient(
    180deg,
    rgba(20, 20, 20, 1) 0%,
    rgba(100, 100, 100, 1) 100%
  );
  height: 1600px;
  overflow: hidden;
}

.famousCats_section > .container {
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.famousCats_header {
  font-size: 40px;
  margin: 100px;
}

.famousCats_content {
  width: 100%;
}

.famousCats_content-1,
.famousCats_content-3 {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.famousCats_content-2 {
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.famousCats_content-1_image > img,
.famousCats_content-2_image > img,
.famousCats_content-3_image > img {
  border-radius: 50%;
  width: 300px;
}

.famousCats_content-1_image,
.famousCats_content-2_image,
.famousCats_content-3_image {
  margin: 50px;
}

.famousCats_content-1_caption,
.famousCats_content-2_caption,
.famousCats_content-3_caption {
  margin-top: 10px;
  text-align: center;
  font-size: 25px;
}

.famousCats_content-1_description,
.famousCats_content-2_description,
.famousCats_content-3_description {
  text-align: justify;
  margin: 70px;
  width: 6 0%;
  font-size: 20px;
}
